*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
margin:0;padding:0;}
.clearfix{clear:both; zoom:1;}
.clearfix:after{clear:both; display:block; height:0; font-size:0; content:"."; visibility:hidden;}
body{background:#f5f5f5;font-family:Helvetica;}
a:link,a:hover,a:active,a:visited{color:#333;text-decoration:none;}
main{max-width:1920px;margin:0 auto;}
aside{width:14%;float:left;background:#fff;position: sticky;top:10px;margin-top:20px;}
aside h1{text-align:left;padding:30px 0 0 20px;}
aside footer{padding:0 20px 20px;}
aside .nav{min-height:500px;padding:10px;}
.nav li{padding:6px 20px 6px 10px;width:100%;position:relative;height:36px;line-height:36px;overflow:hidden;}
.nav li span{position:absolute;right:0;top:14px;width:20px;height:20px;line-height:20px;text-align:center;color:#ccc;border:1px solid #ccc;border-radius:50%;}
.nav li a:before{content:'';width:100%;height:100%;position:absolute;left:0;top:0;}
article{width:86%;float:left;}
section{width:90%;margin:20px auto 0;position:relative;background:#fff;padding:30px;}
section .item{width:23.5%;float:left;position:relative;padding:12px 24px;margin-right:2%;
	border:1px solid #eee;margin-top:20px;border-radius:4px;position:relative;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;
}
section .item:nth-of-type(4n){margin-right:0;}
section .item:hover{box-shadow:0 2px 7px rgba(0,0,0,.15);border-color:transparent;position:relative}
.item img{display:block;float:left;width:40px;height:40px;}
.item h3{display:block;float:left;width:72%;margin-left:10px;position:relative;line-height:40px;overflow:hidden;}
.item p{position:relative;height:42px;margin-top:4px;}

//重置样式
[mv-app] button.mv-add{position:relative;}
button.mv-add-item{
	display:block;float:left;width:23.5%;margin-top:20px;height:112px;background:#fff;color:#fff;cursor:pointer;
	border-radius:4px;border:1px solid #eee;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;position:relative;
}
button.mv-add-item:hover{box-shadow:0 2px 7px rgba(0,0,0,.15);border-color:transparent;position:relative}
button.mv-add-item:before{content:'+';width:50px;height:50px;border-radius:50%;border:1px solid #ccc;
	position:absolute;left:50%;top:50%;margin-left:-25px;margin-top:-25px;color:#ccc;font-size:40px;line-height:50px;text-align:center;
}
button.mv-add-category{display:block;width:90%;margin:20px auto;margin-left:5%;position:relative;background:#fff;padding:30px;color:#fff;cursor:pointer;border:none;}
button.mv-add-category:before{content:'+';width:50px;height:50px;border-radius:50%;border:1px solid #ccc;
	position:absolute;left:50%;top:50%;margin-left:-25px;margin-top:-25px;color:#ccc;font-size:40px;line-height:50px;text-align:center;
}
.mv-bar.mv-ui:not(.mv-fixed){border-radius:0;}
.mv-status a:link{color:#fff;}